@use '../utils' as *;
@use '../color' as *;

.export {
  display: block;
  overflow-y: auto;
  max-height: 20rem;
  margin-top: 2rem;
  padding: 1.25rem;
  border: 1px solid hex(grey, lightest);
  border-radius: rem(4);
  line-height: 1.6;
}
