@use '../utils' as *;
@use '../color' as *;

.grid {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 94.5rem;
  height: 100%;
  max-height: 54rem;

  &.-editor {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid hex(grey, dark);
    border-bottom: 1px solid hex(grey, dark);
  }

  &.-shape::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 rem(3) rem(6) hex(grey, dark);
  }

  &__column {
    flex-shrink: 0;
    width: var(--cell-size);

    .grid.-editor &,
    .grid.-shape & {
      border-left: 1px solid hex(grey, dark);
    }

    .grid.-shape & {
      border-color: hex(grey, darker);

      &:last-child {
        border-right: 1px solid hex(grey, darker);
      }
    }

    .grid.-editor &.-center:hover {
      background-color: alpha(status, 0.3);
    }
  }

  &__cell {
    flex-shrink: 0;
    height: var(--cell-size);

    &.-alive {
      background-color: hex(grey, light);
      box-shadow: rem(3) rem(3) rem(8) rgba(black, 0.7);
    }

    .grid.-editor & {
      border-top: 1px solid hex(grey, dark);
    }

    .grid.-shape & {
      border-top: 1px solid hex(grey, darker);

      &:last-child {
        border-bottom: 1px solid hex(grey, darker);
      }

      &.-alive {
        box-shadow: rem(3) rem(3) rem(8) rgba(black, 0.4);
      }
    }

    .grid.-editor &.-alive {
      background-color: hex(grey);
    }
  }
}
