@use '../utils' as *;
@use '../color' as *;

.grid {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;

  &.-editor {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid hex(grey, dark);
    border-bottom: 1px solid hex(grey, dark);
  }

  &__column {
    flex-shrink: 0;
    width: var(--cell-size);

    .grid.-editor & {
      border-left: 1px solid hex(grey, dark);

      &.-center:hover {
        background-color: alpha(status, error, 0.4);
      }
    }
  }

  &__cell {
    flex-shrink: 0;
    height: var(--cell-size);

    &.-alive {
      background-color: hex(grey, light);
      box-shadow: rem(3) rem(3) rem(8) rgba(black, 0.8);
    }

    .grid.-editor & {
      border-top: 1px solid hex(grey, dark);

      &.-alive {
        background-color: hex(grey);
      }
    }
  }
}
