@use '../utils' as *;
@use '../color' as *;

.shapes {
  &__header {
    @include type-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid hex(grey);

    i {
      transform: translate3d(0, -2px, 0);
      font-size: 1.25em;
    }
  }

  &__option {
    margin: 1rem 0;
    padding: 1.25rem;
    border: 1px solid transparent;
    border-radius: rem(4);
    cursor: pointer;
    transition: border-color 80ms linear;

    &:hover {
      border-color: hex(grey);
    }

    &.-selected {
      border-color: hex(grey, lighter);
    }
  }

  &__grid {
    margin-top: 1rem;
  }
}
